/* This stylesheet attempts to be colorblind-accessible by using 
colors from the Wong color palette. 
Source: davidmathlogic.com/colorblind */

@layer elements, global;

@layer elements {
    body {
        background-color: black;
        font-size: medium;
        font-family: 'Open Sans', sans-serif;
        color: white;
        user-select: none; 
        margin: 0;
    }

    /* Header */

    #header > h1 {
        font-size: min(calc(1rem + 10vw), 8rem);
        text-align: center;
        margin-top: .25em;
        margin-bottom: .25em;
    }

    #header > h1 > span {
        color: #009e73;
    }

    #header > p {
        font-size: min(calc(0.3rem + 3vw), 2rem);
        text-align: center;
        margin-top: 0em;
    }

    span.avoid-wrap {
        display: inline-block;
    }

   
    /* Buttons */

    .button-bar {
        display: flex; 
        width: 100%;
        position: fixed;
        bottom: 0px;
        background-color:#117733;
        height: 50px;
        z-index: 5;
    }

    .action-button {
        /* display: inline-block; */
        flex: 1;
        /* border-radius: 5px; */
        cursor: pointer;
        /* width: 20%; */
        font-weight: bold;
        font-family: inherit;
        color: white;
        /* background-color: black; */
        background-color: inherit;
        border: none;
        /* border: 2px solid #117733; */
        /* margin: 5px; */
        font-size: min(calc(0.3rem + 3vw), 2rem);
    }

    #collapseAllBtn, #expandAllBtn, #selectAllBtn {
        display: none;
    }

    /* Button click animation */

    .action-button:active,
    dialog button:active {
        transform: scale(0.95);
    }

    .track:active,
    .playlist-name th:active,
    #transfer-pop-up li:active {
        transform: scale(0.99);
    }
    .action-button:active,
    dialog button:active,
    .track:active,
    .playlist-name th:active,
    #transfer-pop-up li:active {
        filter: brightness(0.9);
    }
/* 
    .action-button:hover {
        background-color: #117733;
        font-weight: bold;
        font-size: 1.5em;
    } */
    

    /* Pop-Ups */
    .pop-up {
        position: fixed;
        top: 0;
        bottom: 50px;
        width: 100%;
        height: calc(100vh - 50px);
        z-index: 10;
        background-color: black;
    }

    #transfer-pop-up {
        display: flex;
        flex-direction: column;
    }

    .pop-up h2 {
        font-weight: normal;
        text-align: center;
        flex: 1;
    }

    #delete-pop-up h2 {
        position: fixed;
        bottom: 50px;
    }

    #transfer-pop-up h2 > span:first-child {
        color: #009e73;
        font-weight: bold;
    }

    #delete-pop-up h2 > span:first-child {
        color: #ff1900;
        font-weight: bold;
    }
    
    #transfer-pop-up ul {
        list-style: none;
        flex: 12;
        overflow: scroll;
        font-size: 1.75rem;
        padding-inline-start: unset;
        margin: 5px;
    }

    #delete-pop-up .button-bar {
        background-color: #78281f;
    }
    
    .pop-up .button-bar .action-button:first-child {
        flex: 2;
    }


    

    /* Playlists */

    #playlists {
        margin: 5px;
        margin-bottom: 55px;
    }

    table {
        /* margin-left: 5px; */
        table-layout: fixed;
        /* border-collapse: collapse; */
        width: 100%;
        cursor: pointer;
    }

    table * {
        display: block;
    }

    
    th {
        text-align: start;
        font-size: 1.75rem;
    }

    td, th span {
        /* padding-right: 1vw; */
        /* min-width: 49vw;
        max-width: 49vw; */
        white-space: nowrap;
        overflow: scroll;
        /* text-overflow: ellipsis; */
    }

    .playlist-header {
        background-color: black;
        position: sticky;
        top: 0;
        height: max-content;
    }

    .expanded .playlist-header {
        border-bottom: 1px solid gray;
        color:#009e73;
    }

    .playlist-header > .playlist-name {
        /* font-size: 1.5em; */
        margin-bottom: 0px;
    }

    .playlist-header > .labels {
        /* border-bottom: white solid 2px;
        color: lightgray;
        cursor: default; */
        display: none;
    }

    tr.track td:last-child {
        font-size: smaller;
        color: gray;
    }

    .selected {
        background-color: #78281f;
    }

    .has-selected-child .playlist-name {
        color: #d55e00;
        font-weight: bold;
    }

    /* .playlist-name th:hover {
        color: #009e73;
        cursor: pointer;
    } */

    /* .playlist-name th:hover::after {
        content: " >";
        color: #009e73;
    }

    .expanded th:hover::after {
        content: " <";
        color: #009e73;
    }

    .track:hover {
        font-weight: bold;
    }

    tr.track:not(.selected):hover {
        background-color: #117733;
    } */
}


@layer global {
    .hide {
        display: none;
    }

    .loading * {
        cursor: wait;
        pointer-events: none;
        touch-action: none;
        
    }
    

    /* Loading animation */
   
    #load-animation {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #loader {
        position: fixed;
        top: 40%;
        z-index: 20;
        border: 5px solid #009e73;
        border-top: 5px solid white;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: spinner 1.5s linear infinite;
      }
      
    @keyframes spinner {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}