/* This stylesheet attempts to be colorblind-accessible by using 
colors from the Wong color palette. 
Source: davidmathlogic.com/colorblind */

html {
    background-color: black;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    color: white;
    user-select: none; 
}

#header > h1 {
    font-size: 6em;
    text-align: center;
    margin-top: .25em;
    margin-bottom: .25em;
}

#header > h1 > span {
    color: #009e73;
}

#header > p {
    font-size: 2em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 1.75em;
}

.hide {
    display: none;
}

#buttons {
    display: flex;
    top: 0%;
    position: sticky;
    height: 60px;
    margin-bottom: 10px;
}

.action-button {
    display: inline-block;
    cursor: pointer;
    width: 20%;
    height: 100%;
    font-family: inherit;
    color: white;
    background-color: black;
    border: none;
    border-top: 2px solid #117733; 
    border-bottom: 2px solid #117733;
    font-size: 1.25em;
}

.action-button:hover {
    background-color: #117733;
    font-weight: bold;
    font-size: 1.4em;
}

th {
    text-align: start;
    font-size: 2em;
}

th, td {
    width: 50%;
    padding-right: 1em;
}

td {
    font-size: 1.25em;
}

.playlist-name th:hover {
    color: #009e73;
    cursor: pointer;
}

.playlist-name th:hover::after {
    content: " >";
    color: #009e73;
}

.expanded-playlist th:hover::after {
    content: " <";
    color: #009e73;
}

.label {
    border-bottom: white solid 2px;
    cursor: default;
}

.track:hover {
    font-weight: bold;
}

tr.track:not(.selected):hover {
    background-color: #117733;
}

.selected {
    background-color: #78281f;
}

.has-selected-child {
    color: #d55e00;
    font-weight: bold;
}

table {
    border-collapse: collapse;
    cursor: pointer;
}

#global.loading * {
    cursor: wait;
}
